/* for top navbar */
nav {
  margin-bottom: 25px
  padding: 25px;
  background-color: #33363b;
}

/* for container of GAN editor and Information box */
.content {
  padding: 25px;
  background-color: #ffffff;
  font-family: 'calibri';
  font-size: 21px;

/* for bottom footer */
footer {
  list-style-type: none;
  margin-top: 25px;
  padding: 25px;
  background-color: #33363b;
  color: #ffffff;
  font-family: 'calibri';
  font-size: 21px;
}
